@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root{
    --green: green;
    --black: #130f40;
    --light-color:#666;
    --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    --border: 2rem solid rgba(0,0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,0.1);
}

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}

section{
    padding: 2rem 9%;
}

.btn{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--green);
    color: #fff;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
    text-transform: capitalize;
}
.heading span{
    background: var(--green);
    color: white;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
}
.header .logo .logoIcon{
    color: var(--green);
}
.header .navbar .link{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar .link:hover{
    color: var(--green);
}

.header .icons .icon{
    border: 0px solid;
    width: 4.3rem;
    height: 4.3rem;
    line-height: 4.3rem;
    padding: 5px;
    border-radius: 5px;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons .icon:hover{
    background: var(--green);
    color: white;
}
#menu-btn{
    display: none;
}


.header .search-from{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-from.active{
    right: 2rem;
    transition: .4s linear;
}

.header .search-from input{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: var(--black);
    background: none;
    text-transform: none;
}

.header .search-from label{
    font-size: 2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


.header .search-from label:hover{
    color: var(--green);
}



.header .shopping-cart{
    position: absolute;
    top: 105%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    position: relative;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box i.fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 2rem;
    color: var(--light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box i.fa-trash:hover{
    color: var(--green);
}

.header .shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem 0;
}


.header .login-form{
    border: 0px solid;
    position: absolute;
    width: 32rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
    color: var(--green);
    text-decoration: underline;
}


/* Category Section */
.categories {
  text-align: center;
}

.category-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.category-box {
  flex: 1 0 21%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.category-box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.category-box:hover {
  transform: scale(1.05);
}

/* Review Section */
.reviews {
  text-align: center;
}

.review-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.review-box {
  flex: 1 0 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.review-box img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.star-icon {
  color: #ffd700;
}


.home{
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(image/banner-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 17rem 10rem;
}

.home .content{
    border: 0px solid;
    text-align: center;
    width: 60rem;
}

.home .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.home .content h3 span{
    color: var(--green);
}

.home .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
}




/* features section starts here  */


.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box h3{
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--black);
    padding-bottom: 1rem 0;
}





/* products section starts here  */

.products .product-slider{
    padding: 1rem;
}

.products .product-slider:first-child{
    margin-bottom: 2rem;
}

.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}

.products .product-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.products .product-slider .box img{
    height: 20rem;
}

.products .product-slider .box h1{
    font-size: 2.5rem;
    color: var(--black);
}


.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}




/* product categories section starts here  */

.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 3rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
    padding: 1rem 0;
}



/* review section starts here */
.review .review-slider{
    padding: 1rem;
}

.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}

.review .review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.5;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i{
    color: orange;
    font-size: 1.7rem;
}


/* footer starts here */

.footer{
    background: #fff;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--green);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 1.5rem;
}

.footer .box-container .box p{
    line-height: 1.5;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share i{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share i:hover{
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: 1px solid;
}





/* media quary */

@media(max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media(max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header .search-from{
        width: 90%;
    }
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        margin: 2rem 2.5rem;
    }
}

@media(max-width: 450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }
}